* {
    padding: 0;
    margin: 0;
}

body {
    --color: #000;
    --background-color: #fff;

    color: var(--color);
    background-color: #EBE5D5;
}

body.dark {
    --color: #fff;
    --background-color: #000;
}

h1 {
    min-height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
a {
    color: var(--color);
    text-decoration: none;
    text-shadow:
        -1px -1px 0 var(--background-color),
        1px -1px 0 var(--background-color),
        -1px 1px 0 var(--background-color),
        1px 1px 0 var(--background-color);
}

canvas {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
/*.center {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: right;
	padding-right: 1rem;
    gap: 1rem;
    position: relative;
    z-index: 1;
}*/

nav {
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	text-align: right;
	margin: 0;
	padding: 0.5rem 1rem;
	
	
	
}

nav a {
	font-size: 1.1rem;
    opacity: 0.8;
	text-shadow: 0 0 1px #EBE5D5;
}

nav a:hover {
    opacity: 1;
}

main {
	margin-top: 1.5rem;
	text-align: center;
	padding-right: 1rem;
	
}

main p {
	font-family: "Bodoni Poster Compressed", serif;
	font-size: 5rem;
    opacity: 0.8;
}

.apod-page img {
    max-width: 90%;
    max-height: 80vh;
    margin: 2rem auto;
    display: block;
    border-radius: 1rem;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

